<form [formGroup]="registerFormPlace" (submit)="registerPlace()">
  <div class="mb-3">
    <label for="lugar" class="form-label">Nombre del lugar</label>
    <input type="text" id="lugar" placeholder="Lugar" class="form-control" formControlName="name">
  </div>
  <div class="mb-3">
    <label for="latitud" class="form-label">Latitud</label>
    <input type="text" id="latitud" placeholder="Latitud" class="form-control" formControlName="latitude">
  </div>
  <div class="mb-3">
    <label for="longitud" class="form-label">Longitud</label>
    <input type="text" id="longitud" placeholder="Longitud" class="form-control" formControlName="longitude">
  </div>
  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción detallada del lugar</label>
    <textarea placeholder="Descripción" class="form-control" rows="5" formControlName="description"></textarea>
  </div>
  <div class="mb-3">
    <label for="iamgen" class="form-label">URL de imagen representava</label>
    <!-- Campo que no forma parte del formulario reactivo -->
    <input type="file" id="imagen" placeholder="Imagen" class="form-control" (change)="uploadImage($event)">
  </div>
  <button type="submit" class="btn btn-success">Registrar</button>
</form>
